include ../../blocks/headline/headline

mixin promo() 
	+b.SECTION.promo
		.grid
			+e.info
				+headline('Дизайн', 'Для вашего бизнеса')
				+e.P.descr Дизайн сайтов (UI/UX), Графический дизайн (дизайн визиток, баннеров, штендеров, флаеров и др.) Современные иллюстрации, Брендинг, Дизайн логотипов, Фирменного стиля - Упаковока для вашего бизнеса.
				+e.BUTTON.btn.btn Связаться со мной