.patterns-page {

	&__promo {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 350px;
		margin-bottom: 100px;
		background-color: $grey;

		h2 {
			margin-bottom: 20px;
			font-weight: 900;
			font-size: 6rem;
			letter-spacing: 2px;
			color: $yellow;
		}

		p {
			font-size: 2rem;
			color: $grey--dark;
		}
	}

	.header {
		position: relative;
	}

	&__icon {
		width: 30px;
		height: 30px;

		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}