extends ../layout/layoutBase.pug

include ../../blocks/header/header
include ../../blocks/promo/promo
include ../../blocks/about/about
include ../../blocks/portfolio/portfolio
include ../../blocks/contacts/contacts
include ../../blocks/footer/footer

	
block content
	+header()
	+promo()
	+about()
	+portfolio()
	+contacts()
	+footer()
	