extends ../layout/layoutBase.pug

include ../../blocks/pattern/pattern
//- include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/promo/promo
include ../../blocks/about/about
include ../../blocks/card-service/card-service
include ../../blocks/portfolio/portfolio
include ../../blocks/contacts/contacts
	
block content

	+b.patterns-page
		+e.promo
			.grid
				h2 «Designer-a»
				p На данной странице представленны базовые элементы сайта.

		+e.content
			+pattern('Header')
				//- +header()

			+pattern('Footer')
				+footer()

			+pattern('Typography')
				.grid
					.bubbly-button Заказать 

			+pattern('Promo')
				+promo()

			+pattern('About')
				+about()

			+pattern('Card-service')
				+card-service()

			+pattern('Portfolio')
				+portfolio()

			+pattern('Contacts')
				+contacts()


