extends ../layout/layoutBase.pug

include ../../blocks/pattern/pattern
//- include ../../blocks/header/header
//- include ../../blocks/footer/footer
include ../../blocks/promo/promo
	
block content

	+b.patterns-page
		+e.promo
			.grid
				h2 «Designer-a»
				p На данной странице представленны базовые элементы сайта.

		+e.content
			+pattern('Header')
				//- +header()
			+pattern('Typography')

			+pattern('Promo')
				+promo()

