include ../../blocks/headline/headline

mixin contacts() 
	+b.SECTION.contacts
		.grid
			+headline('Контакты', 'Свяжитесь со мной')
			+e.P.descr Я работаю с 8:00 до 18:00 по МСК, вы можете связаться со мной по почте: cross-nastya@mail.ru  или оставив заявку:
			+e.FORM.form#form
				input.input(type="text", name="name", placeholder="Ваше Имя")
				input.input(type="email", name="email", placeholder="Ваш Email")
				input.input(type="text", name="text", placeholder="Ваше Сообщение")
				input.checkbox#ch1(type="checkbox")
				label.label(for="ch1") Даю согласие на обработку персональных данных
				+e.box
					+e.btn.btn отправить