- var siteName = "Designer-a ";

head

	meta(charset="utf-8")

	meta(http-equiv="content-type", content="text/html; charset=UTF-8")
	meta(http-equiv="x-ua-compatible", content="ie=edge")
	meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0")
	meta(name="keywords", content="")
	meta(name="description", content= siteName)
	meta(name="author", content="")

	title= siteName

	link(rel="apple-touch-icon", sizes="180x180", href="img/favicons/apple-touch-icon.png")
	link(rel="icon", type="image/png", sizes="32x32", href="img/favicons/favicon-32x32.png")
	link(rel="icon", type="image/png", sizes="16x16", href="img/favicons/favicon-16x16.png")
	link(rel="manifest", href="img/favicons/site.webmanifest")
	link(rel="shortcut icon", href="img/favicons/favicon.ico")
	meta(name="msapplication-TileColor", content="#000000")
	meta(name="msapplication-config", content="img/favicons/browserconfig.xml")
	meta(name="theme-color", content="#ffffff")

	link(rel='stylesheet', href='css/style.min.css')