include ../../blocks/svg-icon/svg-icon

mixin header
	+b.HEADER.header
		+e.grid.grid
			+e.social
				+e.social-icon.js-header__social-switch
					svg
						use(xlink:href="img/sprite.svg#share")
					svg
						use(xlink:href="img/sprite.svg#close")
				+e.social-list
					+e.A.social-link(href="https://www.behance.net/designer-a", target="_blank")
						svg
							use(xlink:href="img/sprite.svg#be")
					+e.A.social-link(href="https://dribbble.com/m-w-e", target="_blank")
						svg
							use(xlink:href="img/sprite.svg#dribble")
					+e.A.social-link(href="https://www.linkedin.com/in/mushroomwitheyes/", target="_blank")
						svg
							use(xlink:href="img/sprite.svg#in")
					+e.A.social-link(href="https://vk.com/stasyayayaya", target="_blank")
						svg
							use(xlink:href="img/sprite.svg#vk")
					+e.A.social-link(href="https://www.facebook.com/anastaciaitisme", target="_blank")
						svg
							use(xlink:href="img/sprite.svg#fb")
					+e.A.social-link(href="https://twitter.com/designeracross", target="_blank")
						svg
							use(xlink:href="img/sprite.svg#tw")
					+e.A.social-link(href="https://www.instagram.com/designer.a.cross/", target="_blank")
						svg
							use(xlink:href="img/sprite.svg#instagram")
			+e.A.logo(href="index.html")
				img(src="img/logo-white.svg", alt="")
			+e.switch.js-header__switch
				span
			+e.inner
				+e.NAV.nav
					+e.UL.nav-list
						+e.LI.nav-item
							a.header__nav-link(href="#home") Главная
						+e.LI.nav-item
							a.header__nav-link(href="#about") Обо мне
						+e.LI.nav-item
							a.header__nav-link(href="#portfolio") Портфолио
						+e.LI.nav-item
							a.header__nav-link(href="#contacts") Контакты
						
				